/* ===== Contribution Graph ===== */

#contributionGraph {
  display: flex;
  gap: 3px;
  padding: 10px;
}

.cg-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cg-cell {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  transition: 0.2s;
}

/* -------------------------
   Light Mode（デフォルト）
-------------------------- */

.level-0 {
  background-color: #ebedf0;
}

.level-1 {
  background-color: #9be9a8;
}

.level-2 {
  background-color: #40c463;
}

.level-3 {
  background-color: #30a14e;
}

.level-4 {
  background-color: #216e39;
}

.cg-cell:hover {
  outline: 1px solid #555;
  transform: scale(1.2);
}

/* -------------------------
   Dark Mode
-------------------------- */
html.dark body {
  background: #0c1117;
  color: #e5e5e5;
}

html.dark .level-0 {
  background-color: #161b22;
}
html.dark .level-1 {
  background-color: #0e4429;
}
html.dark .level-2 {
  background-color: #006d32;
}
html.dark .level-3 {
  background-color: #26a641;
}
html.dark .level-4 {
  background-color: #39d353;
}
html.dark button {
  background: #2a2a2a;
  color: #e5e5e5;
  border: #444 solid 1px;
}
html.dark input {
  background: #2a2a2a;
  color: #e5e5e5;
  border: #444 solid 1px;
}
/* ライトモードは今のCSSをそのまま使える */
